In [1]:
#%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime, timedelta

1. Load Data--Create a simulated dataset with the above fields for at least 10 customers.

In [3]:
data = {
    "CustomerID": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    "Name": ["Alice", "Bob", "Cathy", "David", "Eva", "Frank", "Grace", "Henry", "Ivy", "Jack"],
    "Email": ["alice@example.com", "bob@example.com", "cathy@example.com", "david@example.com",
              "eva@example.com", "frank@example.com", "grace@example.com", "henry@example.com",
              "ivy@example.com", "jack@example.com"],
    "Gender": ["Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male", "Female", "Male"],
    "Age": [25, 34, 22, 45, 35, 32, 27, 28, 29, 31],
    "ProductPurchased": ["Laptop", "Novel", "Dress", "Smartphone", "Cookware", "T-Shirt", "Headphones",
                         "Sneakers", "Coffee Maker", "Tablet"],
    "ProductCategory": ["Electronics", "Books", "Clothing", "Electronics", "Home", "Clothing",
                        "Electronics", "Clothing", "Home", "Electronics"],
    "PurchaseAmount": [1200, 15, 45, 900, 200, 25, 100, 80, 150, 600],
    "LastPurchaseDate": [datetime.now() - timedelta(days=5),
                         datetime.now() - timedelta(days=45),
                         datetime.now() - timedelta(days=15),
                         datetime.now() - timedelta(days=20),
                         datetime.now() - timedelta(days=60),
                         datetime.now() - timedelta(days=2),
                         datetime.now() - timedelta(days=100),
                         datetime.now() - timedelta(days=8),
                         datetime.now() - timedelta(days=3),
                         datetime.now() - timedelta(days=50)]
}

In [4]:
df = pd.DataFrame(data)
df

,CustomerID,Name,Email,Gender,Age,ProductPurchased,ProductCategory,PurchaseAmount,LastPurchaseDate
0,1,Alice,alice@example.com,Female,25,Laptop,Electronics,1200,2025-02-09 17:52:52.916716
1,2,Bob,bob@example.com,Male,34,Novel,Books,15,2024-12-31 17:52:52.916727
2,3,Cathy,cathy@example.com,Female,22,Dress,Clothing,45,2025-01-30 17:52:52.916729
3,4,David,david@example.com,Male,45,Smartphone,Electronics,900,2025-01-25 17:52:52.916731
4,5,Eva,eva@example.com,Female,35,Cookware,Home,200,2024-12-16 17:52:52.916732
5,6,Frank,frank@example.com,Male,32,T-Shirt,Clothing,25,2025-02-12 17:52:52.916733
6,7,Grace,grace@example.com,Female,27,Headphones,Electronics,100,2024-11-06 17:52:52.916734
7,8,Henry,henry@example.com,Male,28,Sneakers,Clothing,80,2025-02-06 17:52:52.916735
8,9,Ivy,ivy@example.com,Female,29,Coffee Maker,Home,150,2025-02-11 17:52:52.916736
9,10,Jack,jack@example.com,Male,31,Tablet,Electronics,600,2024-12-26 17:52:52.916737

Q1. : 
## Find Customers who have spent more than $100 in their last purchase.**

In [5]:
high_spenders = df[df["PurchaseAmount"] > 100]
high_spenders

,CustomerID,Name,Email,Gender,Age,ProductPurchased,ProductCategory,PurchaseAmount,LastPurchaseDate
0,1,Alice,alice@example.com,Female,25,Laptop,Electronics,1200,2025-02-09 17:52:52.916716
3,4,David,david@example.com,Male,45,Smartphone,Electronics,900,2025-01-25 17:52:52.916731
4,5,Eva,eva@example.com,Female,35,Cookware,Home,200,2024-12-16 17:52:52.916732
8,9,Ivy,ivy@example.com,Female,29,Coffee Maker,Home,150,2025-02-11 17:52:52.916736
9,10,Jack,jack@example.com,Male,31,Tablet,Electronics,600,2024-12-26 17:52:52.916737

There are 6 customer last purchase above the 100.

**Q2: Find Customers who made a purchase in the last 30 days.**

In [11]:
thirty_days = datetime.now() - timedelta(days=30)

In [12]:
recent_customers = df[df["LastPurchaseDate"] >= thirty_days]
recent_customers

,CustomerID,Name,Email,Gender,Age,ProductPurchased,ProductCategory,PurchaseAmount,LastPurchaseDate
0,1,Alice,alice@example.com,Female,25,Laptop,Electronics,1200,2025-02-09 17:52:52.916716
2,3,Cathy,cathy@example.com,Female,22,Dress,Clothing,45,2025-01-30 17:52:52.916729
3,4,David,david@example.com,Male,45,Smartphone,Electronics,900,2025-01-25 17:52:52.916731
5,6,Frank,frank@example.com,Male,32,T-Shirt,Clothing,25,2025-02-12 17:52:52.916733
7,8,Henry,henry@example.com,Male,28,Sneakers,Clothing,80,2025-02-06 17:52:52.916735
8,9,Ivy,ivy@example.com,Female,29,Coffee Maker,Home,150,2025-02-11 17:52:52.916736

Alice, cathy,david,frank,henry,ivy those customers made a purchase in the last 30 days

**Q3:Segment customers by the category of their last purchase.**

In [8]:
category_segments = df.groupby("ProductCategory")[["CustomerID", "Name", "ProductPurchased", "PurchaseAmount"]]

In [9]:
for category, group in category_segments:
    print(f"Category: {category}")
    print(group, "\n")

Category: Books
   CustomerID Name ProductPurchased  PurchaseAmount
1           2  Bob            Novel              15

Category: Clothing
   CustomerID   Name ProductPurchased  PurchaseAmount
2           3  Cathy            Dress              45
5           6  Frank          T-Shirt              25
7           8  Henry         Sneakers              80

Category: Electronics
   CustomerID   Name ProductPurchased  PurchaseAmount
0           1  Alice           Laptop            1200
3           4  David       Smartphone             900
6           7  Grace       Headphones             100
9          10   Jack           Tablet             600

Category: Home
   CustomerID Name ProductPurchased  PurchaseAmount
4           5  Eva         Cookware             200
8           9  Ivy     Coffee Maker             150

Customers are grouped based on the category of their last purchase.